---

import { motion } from "motion/react";

type Item = {
    title: string,
    description: string,
    href: string,
    src: string,
}

interface Props {
    items: Item[];
}

const {items} = Astro.props as Props;

---
<section class="main project-carousel d-flex align-items-center" id="carousel" data-scroll-section>
    {items.map((item) => (
        <div class="carousel-item-div d-flex flex-row align-items-center justify-content-center">
            <div class="carousel-item-container d-flex flex-row">
                <div class="carousel-item-image-container">
                    <img class="carousel-item-image" src={item.src} />
                </div>
                <div class="carousel-item-content d-flex flex-column justify-content-center">
                    <h1>{item.title}</h1>
                    <p>{item.description}</p>
                    <a href={item.href}>View Project</a>
                </div>
            </div>
        </div>
    ))}
</section>